{# extends "principal/main.html" #}
{% extends "principal/generat.html" %}
{% load static %}

{% block title %} Landing Page {% endblock %}

{% block headStatic %}
    <link rel="stylesheet" href="{% static './styles/timer.css' %}">
    <script type="text/javascript" src="{% static './typed_scripts/timer.js' %}" defer></script>
{% endblock %}

{% block WhatTimeIsIt %}
<div class="countdown-container">
    <div class="countdown-el hours-c">
        <p class="medium-text" id="hour">0</p>
        <span>hours</span>
    </div>
    <div class="countdown-el mins-c">
        <p class="medium-text" id="min">0</p>
        <span>minutes</span>
    </div>
    <div class="countdown-el seconds-c">
        <p class="medium-text" id="second">0</p>
        <span>seconds</span>
    </div>
</div>
{% endblock %}

{% block clock %}
<div class="countdown-container">
    <div class="countdown-el days-c">
        <p class="big-text" id="days">0</p>
        <span>days</span>
    </div>
    <div class="countdown-el hours-c">
        <p class="big-text" id="hours">0</p>
        <span>hours</span>
    </div>
    <div class="countdown-el mins-c">
        <p class="big-text" id="mins">0</p>
        <span>minutes</span>
    </div>
    <div class="countdown-el seconds-c">
        <p class="big-text" id="seconds">0</p>
        <span>seconds</span>
    </div>
</div>
{% endblock clock %}
